<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAlumnoWs" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63313/AlumnoWs.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAlumnoWs" contract="AlumnoSv.IAlumnoWs"
                name="BasicHttpBinding_IAlumnoWs" />
        </client>
    </system.serviceModel>
</configuration>